body{
    width: 100%;
    height: auto;
}
.Form_patient{
    height: 80%;
    width: 30%;
    border: 1px solid grey;
    text-align: center;
    padding: 40px;
}
.Form_patient label{
    padding: 40px;
}
.Form_patient input{
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.Form_patient h4{
margin-top: -20px;

}
.Form_patient button{
    height: 30px;
    width: 100px;
    border-radius: 20px;
    border: none;
    background-color: #16B0EC;
    margin-bottom: 20px;
}
.Form_patient button a{
    text-decoration: none;
    color: black;
}
