body{
    width: 100%;
    height: auto;
}
.navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height:auto;
    margin-bottom: 10px;
}
.navbar h3{
    margin-left: -10px;
    color:rgb(88, 88, 196);
    font-style: italic;
}
.navbar ul{
    margin-left: 300px;
}
.navbar ul a {
    float: right; 
    text-decoration: none;
    margin-left: 60px;
}
.navbar ul a:hover{
    text-decoration:underline;
    color:palevioletred;
} 

.navbar ul li{
   
    display: inline;
    padding-right: 80px;
    padding-top: 6px;
}
 .container_0ne{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(22, 176, 236);
}
.container_0ne .Welcome_text{
    padding: 40px;
}
.container_0ne  button{
    height: 50px;
    width: 300px;
    background-color: white;
    color: rgb(12, 12, 148);
    border-radius: 40px ;
    border: none;
    transform: 1.2;
}
.container_0ne  button a{
    text-decoration: none;
}
.container_0ne  button a:hover{
    color: tomato;
}

