body{
    width: 100%;
    height: auto;
}
.navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height:auto;
    margin-bottom: 10px;
}
.navbar h3{
    margin-left: -10px;
    color:#16B0EC;
    font-style: italic;
}
.navbar ul{
    margin-left: 300px;
}
.navbar ul a {
    float: right; 
    text-decoration: none;
    margin-left: 60px;
    color: black;
}
.navbar ul a:hover{
    text-decoration:underline;
    color:palevioletred;
} 

.navbar ul li{
   
    display: inline;
    padding-right: 80px;
    padding-top: 6px;
}
 .container_0ne{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(22, 176, 236);
}
.container_0ne .Welcome_text{
    padding: 40px;
}
.container_0ne  button{
    height: 50px;
    width: 300px;
    background-color: white;
    color: rgb(12, 12, 148);
    border-radius: 40px ;
    border: none;
    transform: 1.2;
}
.container_0ne  button a{
    text-decoration: none;
    color: black;
}
.container_0ne  button a:hover{
    color: tomato;
}
.container_two{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
}
.container_two span{
text-decoration: underline #16B0EC;
}
.container_two button{
    height: 50px;
    width: 300px;
    background-color: #16B0EC;
    color: white;
    border-radius: 40px ;
    box-shadow: 10px 10px;
    border: none;
}
.container_three{
    display: flex;
    justify-content: space-evenly;

}
.container_three img{
    border-radius: 10px;
    box-shadow: -5px 5px 10px lightgray;
}
.container_three #center_txt{
    width: 33.3%;
    border-radius: 10px;
    text-align: center;

}
.container_three #center_txt button{
    height: 40px;
    background-color: #16B0EC;
    border-radius: 20px;
    border: none;

}
.container_three #center_txt button a{
    text-decoration: none;
    color: black;
}
.container_three #center_txt button a:hover{
    color: tomato;
}
.services{
    background-color: #16B0EC;
}
.services .upper_col{
    text-align: center;
    color: white;
}
.services .Overflow{
    display: flex;
    justify-content: space-evenly;
    color: white;

}
.col_5{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 60px;
}

.col_5 #col_5_1, #col_5_2, #col_5_3{
    border-radius: 10px;
    box-shadow: -10px 10px 10px lightgray;
    text-align: center;

}
.Doctors{
    display: flex;
    justify-content: space-evenly;
}
footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #16B0EC;
}
footer  ul li a{
    text-decoration: none;
    color: black;
} 
footer  ul li a:hover{
    color: tomato;
}